<article data-ng-controller="allRecipesController">
  <h1>Create a Brew Recipe</h1>
  <h2>Brew Title</h2>
  <form>
    <input type='text' name='title' placeholder="Title" data-ng-model='title'>
  </form>
  <form ng-model-options="{updateOn: 'submit'}" data-ng-submit='addIngredient(ingredient)'>
    <input type='text' name='ingredient' placeholder='Ingredient' data-ng-model='ingredient'/>
    <button type = 'submit'>Add Ingredient</button>
  </form>

  <section>
    <h2>{{title}}</h2>
    <ul data-ng-repeat='ingredient in ingredients'>
     <li> {{ingredient}} </li>
    </ul>
  </section>
</article>
