<article data-ng-controller="authController">
  <form data-ng-submit="authSubmit(user)">
    <label for="email">Email</label>
    <input type="text" name="email" data-ng-model="user.email">
    <label for="displayName">Username</label>
    <input type="text" name="displayName" data-ng-model="user.displayName">
    <label for="password">Password</label>
    <input type="password" name="password" data-ng-model="user.password">
    <label for="password_confirmation">Confirmation</label>
    <input type="password" name="password_confirmation" data-ng-model="user.password_confirmation">
    <button type="submit">Create User</button>
  </form>
</article>
