<article data-ng-controller="">
  <form data-ng-submit="">
    <label for="username">Username</label>
    <input type="text" name="username" data-ng-model="user.username">
    <label for="password">Password</label>
    <input type="password" name="password" data-ng-model="user.password">
    <label for="password_confirmation">Confirmation</label>
    <input type="password" name="password_confirmation" data-ng-model="user.password_confirmation">
    <button type="submit">Create User</button>
  </form>
</article>
