#brew {
  float: left;
}

#form_sections {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding: 0 5%;
  box-sizing: border-box;
}

#form_headers{
  float: left;
}

.page_form label {
  font-size: 16px;
  display: inline;
  color: #CC0033;
}

.page_form textarea {
  width: 100%;
  height: 200px;
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  border-radius: 7px;
  padding: 7px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.9);
  font-family: 'Open Sans';
  font-weight: 300;
  margin-bottom: 15px;
}

.page_form select {
  width: 100%;
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  border-radius: 7px;
  padding: 7px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.9);
  font-family: 'Open Sans';
  font-weight: 300;
  margin-bottom: 15px;
  height: 40px;
}

.page_form h4 {
  margin: 0;
}

.page_form h4 span {
  font-size: 18px;
  text-align: left;
  font-weight: 300;
}

.page_form li {
  font-size: 18px;
  font-family: 'Open Sans';
}

.header-input {
  width: 45%;
  float: left;
  padding-right: 5%;
}

.header-input label {
  width: 100%;
}

ul.icons {
  width: 100%;
  float: left;
}

ul.icons li {
  float: left;
}

ul.icons li:hover {
  cursor: pointer;
}

.icon.display {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#review-header h2 {
  color: LightSalmon;
}
