#create-recipe {
  width: 100%;
  float: left;
}

#create-recipe .head {
  width: 100%;
  float: left;
}

#create-recipe .previous {
  width: 100%;
  float: left;
}

#create-recipe button.next {
  height: 50px;
  text-align: center;
  color: white;
  font-weight: 300;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-box-shadow: 0.5px 0.5px 2px 0px rgba(48,48,48,1);
  -moz-box-shadow: 0.5px 0.5px 2px 0px rgba(48,48,48,1);
  box-shadow: 0.5px 0.5px 2px 0px rgba(48,48,48,1);
}

#create-recipe #progress {
  width: 100%;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: WhiteSmoke;
}

#create-recipe #progress h1 {
  float: left;
  font-size: 40px;
  width: 15%;
}

#create-recipe #progress ul {
  float: left;
  width: 85%;
  padding-top: 50px;
}

#create-recipe #progress li {
  width: 16%;
  float: left;
  margin-left: .33%;
  margin-right: .33%;
}

#create-recipe #progress li:hover {
  cursor: pointer;
}

#create-recipe #progress li .bar {
  float: left;
  width: 100%;
  height: 15px;
  background-color: #c5ebc0;
}

#create-recipe #progress li.current .bar {
  background-color: #6dcff6;
}

#create-recipe #progress li.current.complete .bar {
  background-color: #6dcff6;
}

#create-recipe #progress li.complete .bar {
  background-color: #679c5f;
}

#create-recipe #steps {
  width: 55%;
  float: left;
  margin-left: 22.5%;
  padding-bottom: 50px;
}

#create-recipe #steps input {
  width: 50%;
  padding-left: 10px;
  margin-bottom: 25px;
}

#create-recipe #steps textarea {
  width: 100%;
  height: 300px;
  padding-left: 10px;
  padding-top: 10px;
}

#create-recipe #steps .step {
  padding-bottom: 25px;
}

.ingredient-step {
  padding: 20px;
  float: left; /* TODO: do we need this anymore? */
  width: 100%;
}

#create-recipe #steps .ingredient-step input {
  width: 32%;
  margin-right: 1%;
  display: inline-block;
  float: left;
  margin-bottom: 0;
}


/*OLD*/
/*#create-recipe {
  max-width: 100%;
  float: left;
  padding-top: 50px;
}

#create-recipe input {
  width: 100%;
  height: 35px;
  padding-left: 10px;
}

#progress {
  width: 20%;
  float: left;
  height: 500px;
}

#progress h4 {
  padding-left: 50px;
}

#progress ul {
  padding-left: 50px;
  color: Salmon;
}

#progress li:hover {
  cursor: pointer;
  color: tomato;
}

#progress li.current {
  color: rgba(140,252,187,1);
}

#progress li.complete span {
  color: gold;
}

#progress li.complete.current {
  color: green;
}

#form-sections {
  width: 80%;
  float: left;
  min-height: 500px;
}

#form-sections .step {
  width: 90%;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
}

#form-sections .buttons {
  width: 90%;
}

#create-recipe #form-headers .header-input {
  width: 45%;
  padding-top: 25px;
  float: left;
}

#create-recipe textarea {
  width: 75%;
}

#step-ingredients form {
  width: 50%;
  float: left;
}

#step-ingredients ul.current-ingredients {
  float: left;
  width: 40%;
  margin-left: 2%;
  padding-left: 5px;
  min-height: 300px;
  border: 2px dotted WhiteSmoke;
}

#step-ingredients ul.current-ingredients li {
  padding-top: 3px;
  padding-bottom: 0;
  color: Salmon;
}

#step-ingredients ul.current-ingredients .glyphicon {
  color: Salmon;
}

#step-ingredients ul.current-ingredients .glyphicon:hover {
  color: black;
  cursor: pointer;
}

#recipe_info {
  float: left;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
}

#recipe_info h4 {
  color: white;
}

#review-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#review-info {
  float: left;
  padding: 25px;
  width: 40%;
}

#recipe_info ul li {
  color: #FFFFFF;
}

#review-materials {
  float: left;
  float: left;
  width: 40%;
}

#review-steps {
  float: left;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

#review-steps button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
}
*/
