#step-ingredients form {
  width: 50%;
  float: left;
}

#step-ingredients ul.current-ingredients {
  float: left;
  width: 40%;
  margin-left: 2%;
  padding-left: 5px;
  background-color: #F8F8F8;
  min-height: 300px;
}

#step-ingredients ul.current-ingredients li {
  padding-top: 3px;
  padding-bottom: 0;
  color: Salmon;
}

#step-ingredients ul.current-ingredients h2 {
  background-color: #F8F8F8;
  color: black;
  padding: 5px;
}

#step-ingredients ul.current-ingredients .glyphicon {
  color: Salmon;
}

#step-ingredients ul.current-ingredients .glyphicon:hover {
  color: black;
  cursor: pointer;
}

.button {
  width: 100%;
  float: left;
}

#recipe_info {
  float: left;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
}

#recipe_info h4 {
  color: white;
}

#review-header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#review-info {
  float: left;
  padding: 25px;
  width: 40%;
}

#recipe_info ul li {
  color: #FFFFFF;
}

#review-materials {
  float: left;
  float: left;
  width: 40%;
}

#review-steps {
  float: left;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

#review-steps button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 25px;
}
