.page_form input[type='text'],
.page_form input[type='number'] {
  width: 100%;
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  border-radius: 7px;
  padding: 7px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.9);
  font-family: 'Open Sans';
  font-weight: 300;
  margin-bottom: 15px;
}

.page_form label {
  font-size: 16px;
  display: inline;
  color: #CC0033;
}

.page_form small {
  margin: 0 0 10px 0;
  display: inline-block;
  color: black;
  font-size: 13px;
  text-transform: uppercase;
}

.page_form button,
.page_form button[type='submit'] {
  background: #f8d38d;
  background: -moz-linear-gradient(top, hsla(39,88%,76%,1) 0%, hsla(31,81%,53%,1) 75%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,hsla(39,88%,76%,1)), color-stop(75%,hsla(31,81%,53%,1)));
  background: -webkit-linear-gradient(top, hsla(39,88%,76%,1) 0%,hsla(31,81%,53%,1) 75%);
  background: -o-linear-gradient(top, hsla(39,88%,76%,1) 0%,hsla(31,81%,53%,1) 75%);
  background: -ms-linear-gradient(top, hsla(39,88%,76%,1) 0%,hsla(31,81%,53%,1) 75%);
  background: linear-gradient(to bottom, hsla(39,88%,76%,1) 0%,hsla(31,81%,53%,1) 75%);
  color: hsla(0, 100%, 100%, 0.9);
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  outline: none;
  padding: 5px 15px;
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  border-radius: 7px;
}

  .page_form button:hover {
    background: rgba(140, 252, 187, 1);
  }

.page_form textarea {
  width: 100%;
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  border-radius: 7px;
  padding: 7px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.9);
  font-family: 'Open Sans';
  font-weight: 300;
  margin-bottom: 15px;
  height: 100px;
}

.page_form select {
  width: 100%;
  border: 1px solid hsla(0, 0%, 0%, 0.15);
  border-radius: 7px;
  padding: 7px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  color: hsla(0, 0%, 0%, 0.9);
  font-family: 'Open Sans';
  font-weight: 300;
  margin-bottom: 15px;
  height: 40px;
}

.page_form h4 {
  margin: 0;
  color: #CC0033;
}

.page_form h4 span {
  font-size: 18px;
  text-align: left;
  font-weight: 300;
  color: hsla(0, 0%, 0%, 0.5);
}

.page_form li {
  color: hsla(0, 0%, 0%, 0.5);
  font-size: 18px;
  font-family: 'Open Sans';
}
