#step-ingredients form {
  width: 50%;
  float: left;
}

#step-ingredients ul.current-ingredients {
  float: left;
  width: 48%;
  padding-left: 2%;
}

#step-ingredients ul.current-ingredients li {
  padding-top: 3px;
  color: #F8F8F8;
}

#step-ingredients ul.current-ingredients h2 {
  background-color: #F8F8F8;
  color: black;
  padding: 5px;
}

#step-ingredients ul.current-ingredients .glyphicon {
  color: #F8F8F8;
}

#step-ingredients ul.current-ingredients .glyphicon:hover {
  color: IndianRed;
  cursor: pointer;
}

.button {
  width: 100%;
  float: left;
}
