.landing-main {
  /*margin-top: 75px;*/
  width: 100%;
 /* background-color:rgba(0,0,0,0.75);*/
 /*background: url('../images/beer-line-1500x600.jpg');*/
}

.landing-main img.down-arrow {
  width: 7%;
  margin-left:46.5%;
  margin-top: -50px;
}

.landing-main h1 {
  font-size: 45px;
  text-shadow: none;
  color: LightSalmon;
}

.landing-main h1.white {
  color: rgba(140, 252, 187, 1);
  text-shadow: none;
}

.landing-main ul.options {
  width:75%;
  margin: 75px auto;
  padding-bottom: 350px;
}

.landing-main li {
  float: left;
  margin: 1.5% 1.5%;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  background-color: #CC0033;
  border-radius: 50%;
}

  .landing-main li:hover {
    background: tomato;
    cursor: pointer;
  }

  .landing-main li:hover > p {
    color: white;
  }

.landing-main li p {
  color: white;
  font-size: 20px;
  margin: 0;
  padding-top: 47%;
  text-align: center;
}

.landing-main article {
  /*background: rgba(255, 255, 255, 1);*/
  margin-top: 50px;
  padding-bottom: 50px;
}

.landing-main article h1 {
  /*color: rgba(140, 252, 187, 1);*/
  padding-bottom: 50px;
  text-shadow: none;
}

.landing-main article h3 {
  width: 20%;
  margin: 0 auto;
  color: tomato;
  text-align: center;
  padding: 10px 25px;
}

  .landing-main article h3:hover {
    color: white;
    background: tomato;
    cursor: pointer;
  }

.landing-main article p {
  margin: 0 auto;
  padding-bottom: 25px;
  width: 55%;
  text-align: justify;
  color: white;
}

#tally {
  margin: 0 auto;
  padding: 50px 0 0 0;
  width: 402px;
  color: white;
}

#tally div {
  border-radius: 50%;
  background: white;
  border: 2px solid black;
  border: 2px solid white;
  background: hsla (100, 100%, 100%, 0.15);
  width: 100px;
  height: 100px;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 600;
  letter-spacing: -0.05em;
  font-size: 48px;
  color: LightSalmon;
  line-height: 2;
}

#tally li {
  float: left;
  list-style-type: none;
  margin: 0 15px;
}

#tally p {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
  color: white;
  margin: 15px 0 0 0;
}

#tally ul {
  margin: 0 auto;
}


