#user article.page_form {
  margin-left: 50px;
  margin-right: 50px;
}

#user .head {
  padding: 50px 0;
  width: 100%;
  float: left;
}

#user .head button {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}

#user h1 {
  margin: 0;
  padding: 0;
  padding-right: 25px;
  float: left;
}

#user p strong {
  color: #CC0033;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

#user .userInfo {
  width: 100%;
  margin-bottom: 50px;
  float: left;
  background-color:rgba(255,255,255, 0.50);
}

#user .userInfo p {
  margin: 0;
  float: left;
  padding: 25px;
  text-align: left;
  padding-left: 25px;
}

#user ul {
  width: 100%;
  float: left;
}

#user li.brew {
  float: left;
  margin: 10px;
  width: 300px;
  background-color:rgba(255,255,255, 0.750);
}

  #user li.brew:hover {
    background-color: #F8F8F8;
    cursor: pointer;
  }
  #user li.brew:hover > p {
    color: tomato;
  }

#user li.brew p {
  font-size: 22px;
  margin: 0;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  color: #CC0033;
}

#user li.brew img {
  width: 30%;
  padding-left: 35%;
  margin: 35px 0;
}

#user li.brew button {
  color: black;
  background: white;
  width: 100%;
  border-radius: 0;
}
#user li.brew button:hover {
  color: white;
  background: tomato;
}

#user ul.past li.brew:hover {
  background-color: rgba(255,255,255, 0.750);
  cursor: default;
}

#user ul.past li.brew:hover > p {
  color: #CC0033;
}

#filters {
  width: 485px;
  margin: 0 auto;
}

body[data-page='dashboard'] strong {
  color: hsla(0, 0%, 0%, 0.5);
}

tr {
  cursor: pointer;
}

main[data-page='dashboard'] input[type='text'] {
  width: 240px;
  border-radius: 5px;
  padding: 7px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}



