section.recipes ul {
  width: 90%;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}
section.recipes li {
  border: 1px solid white;
  position: relative;
  width: 22%;
  min-height: 500px;
  max-height: 500px;
  background-color:rgba(255,255,255, 0.75);
  float: left;
  margin: 1%;
}

  section.recipes li:hover {
    background: white;
    cursor: pointer;
    max-height: none;
    z-index: 10;

  }

  section.recipes li:hover > h3 {
    color: red;
  }

  section.recipes li:hover > h4 {
    color: rgba(140, 252, 187, 1);
  }

  section.recipes li:hover > p {
    color: tomato;
  }

  section.recipes li:hover > p strong {
    color: #FF6633;
  }

  section.recipes li:hover > button {
    color: white;
    background: tomato;
  }

section.recipes li h3 {
  margin: 0;
  padding-top: 25px;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #CC0033;
  font-weight: bold;
}

section.recipes li h4 {
  text-align: center;
  color: black;
}

section.recipes li p {
  padding: 0;
  font-size: 20px;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
}

section.recipes li p.description {
  width: 90%;
  font-size: 20px;
  padding-bottom: 20px;
  text-align: justify;
}

section.recipes li button {
  position: absolute;
  bottom: 0;
  border: 0;
  color: black;
  background: white;
  width: 100%;
  border-radius: 0;
}

section.recipes li button:hover {
  color: white;
  background: tomato;
}

#recipes p.author span {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: #CC0033;
  margin: 0 15px;
}

#recipes p.author span:first-of-type {
  margin-left: 0;
}

#recipes p.author {
  line-height: 1;
  margin: 10px 0;
}

#recipes button {
  font-size: 24px;
  padding: 15px 30px;
  border-radius: 50px;
  text-transform: inherit;
}

#recipes .return {
  font-size: 18px;
}

ul.icons {
  float: left;
}

ul.icons li {
  float: left;
}

ul.icons li:hover {
  cursor: pointer;
}

.recipes img.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

