section #timer-case {
  background-color: #F8F8F8;
  padding: 75px 50px;

}

section #timer-case p {
  color: black;
}

section #timer-case h1 {
  padding: 0;
}

#timer-main {
  width: 100%;
  float: left;
  padding-bottom: 50px;
}

#timer-main h3{
  color: #66FF99;
  text-align: center;
}

#timer-main .buttons {
  width: 175px;
  margin-left: auto;
  margin-right: auto;
}

#timer-main .buttons button {
  width: 45%;
  border: 0;
}

#spinner {
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

#spinner img {
  width: 100%;
}

.timer {
  width: 100%;
}

.cf li {
  padding-bottom: 25px;
}
