<!-- id -->
<!-- <div id="bg"></div> -->

<!-- nav -->
<!-- <nav data-page="{{ page }}">
  <div class="inner">
    <h1 class="nav" data-ng-show="isLoggedIn()"><a href="#landing" title="Dashboard"><img class="logo" src="images/logo.png"> Brewtorial<sup></sup></a></h1>
    <h1 data-ng-show="!isLoggedIn()"><a class="logo" href="#landing" title="Dashboard"><img class="logo" src="images/logo.png">Brewtorial<sup></sup></a></h1>
    <ul class="cf">
      <li data-ng-show="!isLoggedIn()"><a href="#sign_in" title="Sign In">Sign In</a></li>
      <li data-ng-show="!isLoggedIn()"><a href="#register" title="Register">Register</a></li>
      <li data-ng-show="!isLoggedIn()" class="brew"><a href="#create_recipe" title="Create Brew">Create Brew</a></li>
      <li data-ng-show="!isLoggedIn()" class="brew"><a href="#recipes" title="Recipes">Recipes</a></li>

      <li data-ng-show="isLoggedIn()"><a href="#sign_out" title="Sign Out">Sign Out</a></li>
      <li data-ng-show="isLoggedIn()" class="user">
        <a href="#profile" title="Profile">
          <img src="images/anonymous_user.png" width="30" />
        </a>
      </li>
      <li data-ng-show="isLoggedIn()" class="brew"><a href="#create_recipe" title="Create Brew">Create Brew</a></li>
      <li data-ng-show="isLoggedIn()" class="brew"><a href="#recipes" title="Recipes">Recipes</a></li>
    </ul>
  </div>
</nav> -->

<!-- id -->
<!-- <div id="bg"></div> -->

<!-- nav -->
<section data-ng-init="isLoggedIn(); turnOnSign()">
  <section id="nav-signed-out" class="inner-nav" data-ng-if="!loggedIn" >
    <a href="#recipes" title="Dashboard">
      <img class="logo center" src="images/logo.png" />
      <h2 id="logo-header">Brewtorial</h2>
    </a>
    <ul class="center">
      <li>
        <a href="#recipes"><p>Recipes</p></a>
      </li>
      <li>
        <a href="#landing"><p>About Us</p></a>
      </li>
      <li>
        <a href="#sign_in"><p>Sign In</p></a>
      </li>
      <li>
        <a href='#register'><p>Register</p></a>
      </li>
    </ul>
  </section>

  <section id="nav-signed-out" class="inner-nav" data-ng-if="loggedIn">
    <a href="#landing" title="Dashboard"><img class="logo center" src="images/logo.png" /></a>
    <h2>Brewtorial</h2>
    <ul class="center">
      <li>
        <a href="#recipes"><p>Recipes</p></a>
      </li>
      <li>
        <a href="#landing"><p>About Us</p></a>
      </li>
      <li>
        <a href="#profile"><p>Profile</p></a>
      </li>
      <li>
        <a href='#sign_out'><p>Log Out</p></a>
      </li>
    </ul>
  </section>
</section>
