<nav data-nav-header data-page="{{ page }}"></nav>

<article id="create-recipe" data-ng-controller="CreateRecipeController" data-ng-init="getEquipmentList()">

  <section id="progress">
    <div class="container">
      <h1>Steps</h1>
      <ul>
        <li data-ng-class="{'complete': step.complete === true, 'current': formStep === step.name}" data-ng-repeat="step in steps" data-ng-click="jumpStep(step)">
          <div class="bar"></div>
          <p class="text-center">{{step.name}}</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="container">

    <div class="head">
      <h1 class="text-center">Create Recipe</h1>
    </div>

    <a class="previous" data-ng-if="stepIndex !== 0" data-ng-click="changeStep(-1)">Previous</a>

    <section id="steps">

      <!-- STEP 1 -->
      <div class="step" data-ng-if="formStep === 'Basics'">
        <h3 class="text-center">Step 1: The Basics</h3>
        <form>
          <input type="text" placeholder="Add Title" class="dotted-underline" data-ng-model="recipe.title">
          <textarea placeholder="Click to add Description" class="dotted-border" data-ng-model="recipe.description"></textarea>
        </form>
      </div>

      <!-- STEP 2 -->
      <div class="step" data-ng-if="formStep === 'Details'">
        <h3 class="text-center">Step 2: More Details</h3>
        <form>
          <input type="text" placeholder="Style" class="center dotted-underline" data-ng-model="recipe.style">
          <input type="text" placeholder="Difficulty" class="center dotted-underline" data-ng-model="recipe.difficulty">
          <input type="text" placeholder="Time Required (e.g 4 weeks)" class="center dotted-underline" data-ng-model="recipe.time">
          <input type="text" placeholder="ABV" class="center dotted-underline" data-ng-model="recipe.abv">
          <input type="text" placeholder="OG" class="center dotted-underline" data-ng-model="recipe.og">
          <input type="text" placeholder="IBU" class="center dotted-underline" data-ng-model="recipe.ibu">
        </form>
      </div>

      <!-- STEP 3 -->
      <div class="step step-ingredients" data-ng-if="formStep === 'Ingredients'">
        <h3 class="text-center">Step 3: Ingredients</h3>

        <div data-ng-repeat="ingredient in recipe.ingredients" class="ingredient-step">
          <input type="text" placeholder="Ingredient" class="dotted-underline" data-ng-model="ingredient.name">
          <input type="text" placeholder="Quantity" class="dotted-underline" data-ng-model="ingredient.quantity">
          <input type="text" placeholder="Units" class="dotted-underline" data-ng-model="ingredient.units">
        </div>
        <div class="text-center" data-ng-click="addEmptyIngredient()">
          <i class="material-icons plus center hover">add</i>
        </div>

      </div>

      <button data-ng-if="stepIndex !== steps.length - 1" class="next background-salmon right" type="button" data-ng-click="changeStep(1)">Next</button>

    </section>


  </section>



</article>
