<nav data-nav-header data-page="{{ page }}"></nav>

<section data-ng-init="getAll()" id="dashboard">
  <div class="inner">
    <h1>Micro-brewing.<br>Macro-chugging.</h1>
    <p>Peruse our <strong>{{ beerTally }}</strong> hand-crafted micro-brew recipes.<br>If you find one that looks good, then get brewing!</p>
    <hr>

    <!-- error handling -->
    <aside data-ng-show="errors.length">
      <ul data-ng-repeat="error in errors">
        <h2>{{error.msg}}<h2>
      </ul>
    </aside>

    <!-- filters -->
    <div data-ng-show="!errors.length" id="filters">
      <label>Filters:</label>
      <input type="text" placeholder="Title" data-ng-model="search.header.title" />
      <input type="text" placeholder="Style" data-ng-model="search.header.style" />
    </div>

    <hr>

    <section class="recipes">
      <ul class="fade-in">
        <li data-ng-repeat="recipe in recipes | filter:search | orderBy:sortBy:sortOrder" data-ng-click="view(recipe)">
          <h3>{{recipe.header.title}}</h3>
          <p><strong>Style:</strong> {{recipe.header.style}}</p>
          <p><strong>Abv:</strong> {{recipe.header.abv}}</p>
          <p><strong>Difficulty:</strong> {{recipe.header.difficulty}}</p>
          <p><strong>Popularity:</strong> {{recipe.header.popularity.length}} points</p>
          <h4>Description</h4>
          <p class="description">{{recipe.description | limitTo:150}}...</p>
          <button data-ng-click="view(recipe)">View More</button>
        </li>
      </ul>
    </section>
    <div id="bottom">
       <img src="images/new-logo.png"/>
    </div>
  </div>
