<nav data-nav-header data-page="{{ page }}"></nav>

<section data-ng-init="getAll()" id="dashboard">
  <div class="inner">
    <h1>Micro-brewing.<br>Macro-chugging.</h1>
    <p>Peruse our <strong>{{ beerTally }}</strong> hand-crafted micro-brew recipes.<br>If you find one that looks good, then get brewing!</p>
    <hr>

    <!-- error handling -->
    <aside data-ng-show="errors.length">
      <ul data-ng-repeat="error in errors">
        <h2>{{error.msg}}<h2>
      </ul>
    </aside>

    <!-- filters -->
    <div data-ng-show="!errors.length" id="filters">
      <label>Filters:</label>
      <input type="text" placeholder="Title" data-ng-model="search.header.title" />
      <input type="text" placeholder="Style" data-ng-model="search.header.style" />
    </div>

    <hr>

    <!-- brew list -->
    <table data-ng-show="!errors.length">
      <!-- head -->
      <thead>
        <tr>
          <th data-ng-click="sort('rank')" style="width: 10%;">Rank</th>
          <th data-ng-click="sort('title')" style="width: 30%;">Title</th>
          <th data-ng-click="sort('abv')" style="width: 15%;">ABV%</th>
          <th data-ng-click="sort('style')" style="width: 20%;">Style</th>
          <th data-ng-click="sort('created')" style="width: 25%;">Created</th>
        </tr>
      </thead>

      <!-- body -->
      <tbody>
        <tr class="all_recipes" data-ng-click="view(recipe)" ng-repeat="recipe in recipes | filter:search | orderBy:sortBy:sortOrder">
          <td>{{ recipe.header.popularity.length }}</td>
          <td><strong>{{ recipe.header.title }}</strong></td>
          <td>{{ recipe.header.abv }}%</td>
          <td>{{ recipe.header.style }}</td>
          <td>{{ recipe.header.created | date : 'mediumDate' }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</section>
