<nav id="main" main data-nav-header data-page="{{ page }}"></nav>

<section data-ng-init="getAll()" id="dashboard" class="container">
  <div class="inner">
    <!-- <h1>Micro-brewing.<br>Macro-chugging.</h1> -->

    <p>Brewtorial lets you share in the art of micro-brewing<br>from amateurs and professional brewmasters all over the world.</p>

    <!-- tally -->
    <ul id="tally" class="cf">
      <li><div>{{ tallies.users }}</div><p>Users</p></li>
      <li><div>{{ tallies.recipes }}</div><p>Recipes</p></li>
      <li><div>{{ tallies.craftings }}</div><p>Craftings</p></li>
    </ul>

    <!-- error handling -->
    <aside data-ng-show="errors.length">
      <ul data-ng-repeat="error in errors">
        <h2>{{error.msg}}<h2>
      </ul>
    </aside>

    <!-- filters -->
    <div data-ng-show="!errors.length" id="filters">
      <label>Filters:</label>
      <input type="text" placeholder="Title" data-ng-model="search.header.title" />
      <input type="text" placeholder="Style" data-ng-model="search.header.style" />
    </div>

    <section class="recipes">
      <ul class="fade-in">
        <li data-ng-repeat="recipe in recipes | filter:search | orderBy:sortBy:sortOrder" data-ng-click="view(recipe)">
          <h3>{{recipe.header.title}}</h3>
          <p><strong>Style:</strong> {{recipe.header.style}}</p>
          <p><strong>Abv:</strong> {{recipe.header.abv}}</p>
          <p><strong>Difficulty:</strong> {{recipe.header.difficulty}}</p>
          <p><strong>Popularity:</strong> {{recipe.header.popularity.length}} points</p>
          <img class="icon" src="{{recipe.header.icon}}" />
          <p class="description">{{recipe.description | limitTo:100}}...</p>
          <!-- <button data-ng-click="view(recipe)">View Recipe</button> -->
          <button data-ng-click="view(recipe)">View Recipe</button>
        </li>
      </ul>
    </section>
  </div>
</section>
