<nav data-nav-header data-page="{{ page }}" data-ng-init="getBrew()"></nav>

<section class="page_form" id="brew" data-ng-controller="BrewController">
  <div class="inner">
    <h1>{{ title }}</h1>
    <div class="cf">
        <div class="left">
            <h2>Ingredients</h2>
            <ul>
              <li data-ng-repeat="ingredient in ingredients">{{ingredient.amount}} {{ingredient.unit}} {{ingredient.item}}</li>
            </ul>
        </div>
        <div class="right">
            <h2>Steps</h2>
            <ul>
              <li data-ng-repeat="step in steps">{{ step.directions }}</li>
            </ul>
        </div>
    </div>

    <hr>
    <h2>Ready to Brew?</h2>
    <button  data-ng-if="!started" data-ng-click="startBrew()">Let's Do It!</button>
    <ul class="ingredients"></ul>
    <p>Days {{days}} : Hours {{hours}} : Minutes {{mins}} : Seconds{{secs}}</p>
    <ul class="steps" data-ng-repeat="step in steps" data-ng-if="step.active === true">
      <li>
        <p>{{step.directions}}</p>
        <section class="timer">
            <button name="start" data-ng-click="startTimer()">Start</button>
            <button name="stop" data-ng-click="stopTimer()">Stop</button>
        </section>
        <button data-ng-if="steps[steps.indexOf(step) - 1]" data-ng-click="prevStep(step, steps[steps.indexOf(step) - 1])">   PREVIOUS STEP
        </button>
        <button data-ng-click="nextStep(step, steps[steps.indexOf(step) + 1])">
            NEXT STEP
        </button>
        <button data-ng-click="startHere(step)">Start Here</button>
      </li>
    </ul>
    <h1 data-ng-if="thisBrew.complete === true">{{congrats}}</h1>
    <p>Thanks for enjoying Brewtorial&trade; responsibly.</p>

    <p><img src="images/logo.png" width="250"></p>
  </div>
</section>
