<nav data-nav-header data-page="{{ page }}" data-ng-init="getBrew()"></nav>
<section id="brew" data-ng-controller='BrewController'>
  <div class="inner">
    <h1>{{$scope.title}}</h1>
    <h2>Ready to Start?</h2>
    <button data-ng-click="startBrew()">Start</button>
    <ul class="ingredients"></ul>
    <ul class="steps" data-ng-repeat='step in steps' data-ng-if="step.status === true">
      <li>
        <p>{{step.directions}}</p>
        <section data-timer-directive
            data-ng-init='timer()'
            data-start="startTimer()"
            data-stop="stopTimer()"
            data-reset="resetTime()"
        ></section>
        <button data-ng-click="startStep(steps[steps.indexOf(step) + 1])">NEXT STEP</button>
      </li>
    </ul>
    <p>Thanks for enjoying Brewtorial&trade; responsibly.</p>

    <p><img src="images/logo.png" width="250"></p>
  </div>
</section>
