<nav data-nav-header data-page="{{ page }}"></nav>

<article id="create_recipe" data-ng-controller="CreateRecipeController" data-ng-init="getEquipmentList()" class="container">

  <div class="inner">
    <div id="container" class="cf">

      <!-- <section id="bar">
          <ul>
            <li class="green">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>Review</li>
          </ul>
      </section> -->

      <div id="form_sections">
        <section id="brew_info">
          <!-- STEP 1 -->
          <section data-ng-if="formStep === 'description'">
            <form class="page_form" data-ng-submit="addDescription(description)">
              <h3><strong>Step 1</strong> &ndash; Description</h3>
              <label>Description</label>
              <small>Provide a description for your brew</small>
              <textarea id="description" required name="description" data-ng-model="description"></textarea>
              <!-- <button type="submit">Add Description to Review</button> -->
            </form>
            <button class="recipe-button" data-ng-click="nextStep('header')">Next</button>
          </section>

        <section data-ng-if="formStep === 'header'">
          <h3><strong>Step 2</strong> &ndash; Brew Info</h3>
          <form id="form_headers" class="page_form" data-ng-submit="addHeader(header)">

            <section class="header-input">
              <label>Title</label>
              <small>Enter the title of your brew</small>
              <input type="text" required name="title" data-ng-model="header.title">
            </section>

            <section class="header-input">
              <label>Style</label>
              <small>Provide a style, such as: Lager, Ale, etc.</small>
              <input type="text" required name="style" data-ng-model="header.style"/>
            </section>

            <section class="header-input">
              <label>ABV%</label>
              <small>Enter the Alcohol by Volume percent</small>
              <input type="number" step="any" required name="abv" data-ng-model="header.abv"/>
            </section>

            <section class="header-input">
              <label>IBU</label>
              <small>International Bittering Units of your brew</small>
              <input type="number" step="any" required name="ibu" data-ng-model="header.ibu"/>
            </section>

            <section class="header-input">
              <label>OG</label>
              <small>Original Gravity of your brew</small>
              <input type="number" step="any" required name="og" data-ng-model="header.og"/>
            </section>

            <section class="header-input">
              <label>Brewing Time</label>
              <small>How long it takes to prepare your brew</small>
              <input type="text" step="any" required name="totalTime" placeholder="Example: 6 Weeks" data-ng-model="header.brewTime"/>
            </section>

            <section class="header-input">
              <label>Difficulty</label>
              <small>A scale of how easy (1) to hard (5) this brew is to make</small>
              <input type="number" name="difficulty" data-ng-model="header.difficulty"/>
            </section>
            <!-- <button type="submit">Add Info to Review</button> -->
          </form>
          <button class="recipe-button" data-ng-click="nextStep('icons')">Next</button>
        </section>

        <section data-ng-if="formStep === 'icons'">
          <h3><strong>Step 3</strong> &ndash; Icon</h3>
          <ul class="icons">
            <li data-ng-repeat="icon in icons">
              <img class="icon" src="{{icon}}" data-ng-click="addIcon(icon)">
            </li>
          </ul>
          <img class="icon display" src="{{header.icon}}"/>
          <button class="recipe-button" data-ng-click="nextStep('ingredients')">Next</button>
        </section>

        <!-- ingredients -->
        <section id="step-ingredients" data-ng-if="formStep === 'ingredients'">
          <h3><strong>Step 4</strong> &ndash; Ingredients</h3>
          <form id="form_ingredients" class="page_form" ng-model-options="{updateOn: 'submit'}" data-ng-submit="addIngredient(ingredient)">
            <label>Item</label>
            <small>The ingredient item</small>
            <input type="text" required name="ingredient" placeholder="eg 'Hops' " data-ng-model="ingredient.item"/>
            <label>Amount</label>
            <small>The quantity of the ingredient</small>
            <input type="number" required name="amount" step="any" placeholder="eg 1 (you're smart) " data-ng-model="ingredient.amount"/>
            <label>Unit</label>
            <small>The unit of measurement for the ingredient</small>
            <select data-ng-model="ingredient.unit">
              <option>Cups</option>
              <option>Gallons</option>
              <option>Quarts</option>
              <option>Liters</option>
              <option>Pounds</option>
              <option>Ounces</option>
              <option>Teaspoons</option>
              <option>Tablespoons</option>
              <option>Packet</option>
            </select>
            <button data-ng-click="submit">Add Ingredient</button>
          </form>
          <ul class="current-ingredients">
            <h2>Current List</h2>
            <li data-ng-repeat="ingredient in ingredients">
              {{ingredient.item}} {{ingredient.amount}} {{ingredient.unit}} <span class="glyphicon glyphicon-remove">X</span>
            </li>
          </ul>
          <div class="button">
            <button class="recipe-button" data-ng-click="nextStep('equipment')">Next</button>
          </div>
        </section>

        <!-- equipment. -->
        <section id="step-ingredients" data-ng-if="formStep === 'equipment'">
          <h3><strong>Step 5</strong> &ndash; Equipment</h3>
          <form id="form_equipment" class="page_form" ng-model-options="{updateOn: 'submit'}" data-ng-submit="addEquipment(item)">
            <label>Equipment</label>
            <small>Gear needed to create your brew</small>
            <select data-ng-model="item">
              <option data-ng-repeat="equipment in availableEquipment">{{equipment.name}}</option>
            </select>
            <button class='wide' type="submit">Add Equipment</button>
          </form>

          <ul class="current-ingredients">
            <h2>Current List</h2>
            <li data-ng-repeat="item in equipment">{{item}} <span class="glyphicon" data-ng-click="remove(item, $scope.equipment)">X</span></li>
          </ul>

          <div class="button">
            <button class="recipe-button" data-ng-click="nextStep('steps')">Next</button>
          </div>
        </section>

        <!-- steps -->
        <section data-ng-if="formStep === 'steps'">
          <h3><strong>Step 6</strong> &ndash; Steps</h3>
          <form id="form_steps" class="page_form" ng-model-options="{updateOn: 'submit'}" data-ng-submit="addStep(step)">
            <label>Directions</label>
            <small>Outline the instructions to complete this step</small>
            <textarea type="text" required name="instructions" data-ng-model="step.directions"></textarea>
            <label>Offset</label>
            <small>The amount of time this step takes</small>
            <input type="number" name="days" placeholder="days"  data-ng-model="step.offset.days"/>
            <input type="number" name="hours" placeholder="hours"  data-ng-model="step.offset.hours"/>
            <input type="number" name="minutes" placeholder="minutes"  data-ng-model="step.offset.minutes"/>
            <button class='wide' type="submit">Add Step to Review</button>
          </form>
          <button class="recipe-button wide" data-ng-click="nextStep('review')">Review Recipe</button>
        </section>
      </div>


      <!-- RECIPE REVIEW -->

      <div id="recipe_info" data-ng-if="formStep === 'review'">

        <h1>Review</h1>

        <section id="review-header">
          <h2>{{header.title}}</h2>
          <p>{{description}}</p>
        </section>

        <section id="review-info" class="header">
          <h3>Brew Info:</h3>
          <h4>Style: <span>{{header.style}}</span></h4>
          <h4>ABV%: <span>{{header.abv}}</span></h4>
          <h4>IBU: <span>{{header.ibu}}</span></h4>
          <h4>OG: <span>{{header.og}}</span></h4>
          <h4>Brew Time: <span>{{header.brewTime}}</span></h4>
          <h4>Difficulty: <span>{{header.difficulty}}/5</span></h4>
          <img class="icon" data-ng-if="header.icon" src="{{header.icon}}"/>
        </section>

        <section id="review-materials">

          <h3>Ingredients:</h3>
          <ul>
            <li data-ng-repeat="ingredient in ingredients">{{ingredient.item}} {{ingredient.amount}} {{ingredient.unit}}</li>
          </ul>

          <h3>Equipment:</h3>
          <ul>
            <li data-ng-repeat="equipment in equipment track by $index">{{equipment}}</li>
          </ul>
        </section>

        <section id="review-steps">
          <h3>Steps:</h3>
          <ol>
            <li data-ng-repeat="step in steps">{{step.directions}}:
              (<em>Time Requred:
                {{step.offset.days}} Days,
                {{step.offset.hours}} Hours,
                {{step.offset.minutes}} Minutes
              </em>)
            </li>
          </ol>
          <button type="submit" data-ng-click="createRecipe()">Submit This Recipe</button>
        </section>

      </div>

    </div><!--END CONTAINER-->
  </div>
</article>
