<nav data-nav-header data-page="{{ page }}"></nav>



<!--





Add a BACK TO RECIPES LIST button.







-->

<section data-ng-controller="RecipeController" data-ng-init="getRecipe()" id="recipes">
  <div class="inner">

    <h1>{{ header.title }}</h1>
    <p><img src="images/logo.png" width="96" alt=""></p>
    <p class="author"><span>created by:</span> {{ header.author }} <span>created on:</span> {{ header.created | date:'mediumDate' }}</p>

    <hr>

    <div class="container">
      <form class="cf page_form">
        <div class="left">
          <h3>About this brewski:</h3>
          <label>Description:</label>
          <p>{{ description }}</p>
          <hr>
          <table>
            <tbody>
              <tr>
                <td style="width: 45%;" class="header">Style:</td>
                <td style="width: 55%;" class="data">{{ header.style }}</td>
              </tr>
              <tr>
                <td style="width: 45%;" class="header">ABV%:</td>
                <td style="width: 55%;" class="data">{{ header.abv }}</td>
              </tr>
              <tr>
                <td style="width: 45%;" class="header">IBU:</td>
                <td style="width: 55%;" class="data">{{ header.ibu }}</td>
              </tr>
              <tr>
                <td style="width: 45%;" class="header">OG:</td>
                <td style="width: 55%;" class="data">{{ header.og }}</td>
              </tr>
              <tr>
                <td style="width: 45%;" class="header">Brew Time:</td>
                <td style="width: 55%;" class="data">{{ header.brewTime }}</td>
              </tr>
              <tr>
                <td style="width: 45%;" class="header">Difficulty:</td>
                <td style="width: 55%;" class="data">{{ header.difficulty }}</td>
              </tr>
              <tr>
                <td style="width: 45%;" class="header">Times Brewed:</td>
                <td style="width: 55%;" class="data">{{ header.popularity.length }}</td>
              </tr>
              <tr>
                <td style="width: 45%;" class="header">Likes:</td>
                <td style="width: 55%;" class="data">{{ header.likes }}</td>
              </tr>
            </tbody>
          </table>
          <br><br>
        </div>

        <div class="right">
          <h3>Ingredients:</h3>
          <ul>
            <li data-ng-repeat="ingredient in ingredients">{{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.item }}</li>
          </ul>
          <hr>
          <h3>Equipment:</h3>
          <ul>
            <li data-ng-repeat="item in equipment">{{ item }}</li>
          </ul>
          <hr>
          <h3>Steps:</h3>
          <ol>
            <li data-ng-repeat="step in steps">{{ step.directions }} (<em>Time: {{ step.offset }}</em>)</li>
          </ol>
        </div>        
        <hr>
        <p><button data-ng-click="createBrewEvent()">Brew This</button></p>
      </form>    

    </div>

  </div>
</section>
