<nav data-nav-header data-page="{{ page }}"></nav>
<section id="register">
  <div class="inner">
    <h1>We card those under 21.<br>Just kidding, get in here.</h1>
    <p>Become a part of our brewing family.<br>Already on the list? Then <a href="#/sign_in" title="Sign In">Sign In</a>, already!</p>

    <!-- message -->
    <div id="message" data-ng-show="hasValidationErrors">
      <p><strong>PLEASE RESOLVE THESE ERRORS:</strong> {{ validationErrorMessage }}</p>
    </div>

    <!-- form -->
    <div id="form" class="cf">
      <label>Email</label>
      <input name="email" autofocus data-ng-model="user.email" type="text" />
      <label>Username</label>
      <input name="displayName" data-ng-model="user.displayName" type="text" />
      <label>Password</label>
      <input type="password" name="password" data-ng-model="user.password" />
      <label>Confirm Password</label>
      <input type="password" class="last_field" name="password_confirmation" data-ng-model="user.password_confirmation" />
      <hr>
      <button data-ng-click="registerUser(user)">Create Account</button>
    </div>
    <div id="bottom">
       <img src="images/new-logo.png"/>
    </div>
  </div>
</section>
