<nav data-nav-header data-page="{{ page }}"></nav>
<section id="sign-in">
  <div class="inner">
    <h1>Easy as A-B-V.</h1>
    <p>Provide your brewdentials or <a href="#/register" title="Register">Register</a> to login.</p>

    <!-- message -->
    <div id="message" data-ng-show="hasValidationErrors">
      <p><strong>PLEASE RESOLVE THESE ERRORS:</strong> {{ validationErrorMessage }}</p>
    </div>

    <!-- form -->
    <div id="form" class="cf">
      <label>Email</label>
      <input type="text" name="email" autofocus data-ng-model="user.email">
      <label>Password</label>
      <input type="password" name="password" data-ng-model="user.password">
      <hr>
      <button data-ng-click="signIn(user)">Sign In</button>
    </div>
  </div>
  
</section>
