<nav data-nav-header data-page="{{ page }}"></nav>
<section id="user">
  <div class="inner">
    <article class="page_form" data-ng-controller="UserController">
      <h1>Profile</h1>
      <div data-ng-init="getUser(user)">
        <p><strong>Username:</strong> {{ user.displayName }}</p>
        <p><strong>Email:</strong> {{ user.basic.email }}</p>
        <h2>Current Brews</h2>
        <ul data-ng-repeat="brew in user.currentBrews track by $index">
          <li>
            {{ brew.title }}
            <button data-ng-click="goToBrew(brew.id)">Visit Brew</button>
            <button data-ng-click="removeCurrentBrew(brew.id)">Remove</button>
          </li>
        </ul>
        <h2>Past brews</h2>
        <ul data-ng-repeat="brew in user.completedBrews track by $index">
          <li>
            {{ brew.title }}
            <button data-ng-click="goToBrew(brew.id)">Visit Brew</button>
            <button data-ng-click="removePastBrew(brew.id)">Remove</button>
          </li>
        </ul>
        <button data-ng-click="gotoRecipes()">View the Recipes</button>
        <hr>
        <button data-ng-if="!user.editing" data-ng-click="editUser(user)">Edit profile</button>
      </div>
      <div name="{{'editing' + user._id}}" data-ng-if="user.editing">
        <form class="page_form" name="profileForm" data-ng-submit="saveUser(user)">
          <label>Username
            <input placeholder="new username" data-ng-model="user.displayName" type="text">
          </label>
          <label>Email
            <input placeholder="new email" data-ng-model="user.basic.email" type="text">
          </label>
          <button type="button" data-ng-click="cancelEdit(user)">Cancel</button>
          <button type="submit">save</button>
        </form>
      </div>
      <button data-ng-click="deleteUser(user)">Delete profile</button>
      <p>Drink Up!</p>
    </article>
    <p><img src="images/logo.png" width="250"></p>
  </div>
</section>
