<nav data-nav-header data-page="{{ page }}"></nav>
<section id="user">
  <div class="inner">
    <article class="page_form" data-ng-controller="UserController">
      <section class = "head">
        <h1>Profile</h1>
        <button data-ng-if="!user.editing" data-ng-click="editUser(user)">Edit profile</button>
        <button data-ng-click="deleteUser(user)">Delete profile</button>
      </section>

      <div name="{{'editing' + user._id}}" data-ng-if="user.editing">
        <form class="page_form" name="profileForm" data-ng-submit="saveUser(user)">
          <label>Username
            <input placeholder="new username"
                   data-ng-model="user.displayName" type="text" required>
          </label>
          <label>Email
            <input placeholder="new email"
                   data-ng-model="user.basic.email" type="text" required>
          </label>
          <button type="button" data-ng-click="cancelEdit(user)">Cancel</button>
          <button data-ng-disabled="profileForm.$invalid" type="submit">save</button>
        </form>
      </div>
      <div data-ng-init="getUser()">

        <section class="userInfo">
          <p><strong>Username:</strong> {{ user.displayName }}</p>
          <p><strong>Email:</strong> {{ user.basic.email }}</p>
          <p><strong>Number of Brews Completed:</strong> {{ user.completedBrews.length}}</p>
        </section>

        <h2>Current Brews</h2>
        <ul>
          <li data-ng-repeat="brew in user.currentBrews track by $index" class="brew">
            <section class="main" data-ng-click="goToBrew(brew.id)">
              <p>{{ brew.title }}</p>
              <img src="{{brew.icon}}" />
            </section>
            <button data-ng-click="removeCurrentBrew(brew.id)">Remove &#x2715;</button>
          </li>
        </ul>

        <h2>Past brews</h2>
        <ul class="past">
          <li data-ng-repeat="brew in user.completedBrews track by $index" class="brew">
            <p>{{ brew.title }}</p>
            <img src="{{brew.icon}}" />
            <button data-ng-click="removePastBrew(brew.id)">Remove &#x2715;</button>
          </li>
        </ul>
      </div>
    </article>

    <div id="bottom">
       <img src="images/logo.png"/>
    </div>

  </div>
</section>
